@mixin button($main-color) {
    display: inline-block;
    width: min-content;
    color: white;
    border-radius: 10px;
    font-family: 'Montserrat';
    background-color: $main-color;
    padding: 13px 29px 13px 29px;
}

@mixin input() {
    background-color: transparent;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    &::placeholder {
        color: white;
    }
}