$main-color: rgba(34, 70, 190, 0.8);
$sec-color: #06060680;

@mixin button($main-color) {
  display: inline-block;
  width: min-content;
  color: white;
  border-radius: 10px;
  font-family: 'Montserrat';
  background-color: $main-color;
  padding: 13px 29px 13px 29px;
}

@mixin input() {
  background-color: transparent;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  &::placeholder {
      color: white;
  }
}

.auth {

    &__form {
      display: flex;
      flex-direction: column;
      margin-top: 90px;
      width: 100%;
      min-width: 300px;
  
      &__input {
        @include input();
  
  
        &:first-child {
          margin-bottom: 30px
        }
      }
  
      &__button {
        margin-top: 38px;
        @include button($main-color);
        font-size: 15px;
        line-height: 18px;
      }
    }
  
    @media(min-width: 540px) {
     &__form {
      padding: 30px;
      background: rgba(6, 6, 6, 0.5);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
     }
    }
    @media (min-width: 768px) {
      &__form {
        width: 100%;
        padding: 50px;
        max-width: 500px;
      }
    }
}