@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  height: 100%;
  background-image: url('Images/background.jpg');
  // background-position-y: -250px;
  background-position-x: 600px;

  @media(min-width: 540px) {
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

input {
  border: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 11px;
  padding-right: 11px;
  margin: 0 auto;

  @media (min-width: 540px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1260px) {
    padding-left: 117px;
    padding-right: 117px;
  }
}

.main {
  @media(min-width: 690px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}